/* Style sheet created by: Student's First Name Student's Last Name Today's Date */

/* Style for body speccifies a backgroud color */
body
{
background-color  : #FFFF99;
}

/*Style to create fluid image*/
img{
  max-width: 100%;
}
/*Style for Mobile Layout*/
/*Style for container centers the page and sets the element width */
#container
{
  width         : 100%;
  margin-left   : auto;
  margin-right  : auto;
}

/* Style for header specifies top and bottom margins, background color, rounded border, shadow, and alignment */

header
{
  margin-top          : 0.2em;
  background-color    : #fff8cf;
  border-radius       : 0.5em;
  text-align          : center;
}

/*Style for nav specifies text properties, padding, margins, and borders */
nav
{
  font-family         : Georgia, "Times New Roman", serif;
  font-size           : 1.25em;
  font-weight         : bold;
  text-align          : center;
}
nav ul {
  padding             :0;
  margin-top          :0.5em;
  margin-bottom       :0.5em;
}
nav li{
  background-color          :#008000;
  border-radius:            :2em;
  list-style-type           :none;
  margin                    :0.3em;
  padding                   :0.4em;
}
/* Style for main specifies a block display, text properties, margins, padding, rounded border, and shadow */
nav li a{
  color                 :#FFFFFF;
  text-decoration       :none;
}
.mobile{
  display: inline;
}
.desktop{
  display: none;
}
main
{
  display             : block;
  font-family         : Verdana, Arial, sans-serif;
  font-size           : 1em;
  margin-top          : 0.5em;
  padding             : 1em;
  border-rsaidus      : 1em;
  background-color    : #FFFFFF;
  border-top          :solid 0.2em #009933;
  border-bottom:      :solid 0.2em #009933;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer
{
  font-size     : .70em;
  text-align    : center;
  margin-top    : 20px;
}

.tablet{
  display:none;
}
/* Style rule specifies to not display the equip class*/
.equip
{
  display: none;
}
